.full-height {
  height: 50vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section-1 {
  background-image: linear-gradient(rgba(83, 164, 212, 0.8),
      rgba(83, 164, 212, 0.8),
    ),
    url('./../../assets/static/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contenido {
  margin-top: 0px;
}

.section-2 {
  height: 20vh;
}

.img-responsive {
  width: 90%;
  height: auto;
}

@media(max-width: 768px) {
  .section-1{
    height: 50vh;  
  }

}

@media (min-width:768px) and (max-width: 959px) {
  .section-1{
    height: 80vh;  
  }

}



