.header {
  align-items: center;
  background: #14b8ee;
  opacity: 0.7;
  color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.header__menu {
  margin-right: 30px;  
  display: flex;
  justify-content: space-between;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--username{
  margin-right: 10px;
}

.header__menu--options {
  margin-left: -10%;
  width: 50%;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 80px;
}

nav > .active {
  color: #10638a
}

.textoNav > span {
  font-size: 1.1rem;
  font-weight: bold;
}
